
<div class="card event">
  <div class="card-header">
    <div class="row">
      <div class="col-6 date">7/11/2019</div>
      <div class="col-6 text-right">
        <span class="badge badge-success">info</span>
      </div>
    </div>
  </div>

  <div class="card-image" style="background-image: url('images/event-example-1.jpg') ;"></div>

  <div class="card-body">
    <h5 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h5>
    <div class="mt-3"><a href="event.html" class="btn btn-outline-branding">Me interesa</a></div>
    <div class="mt-3"><a href="events.html" class="text-branding text-uppercase text-frame">Noche de los museos</a></div>
  </div>
  <div class="card-footer">
      faltan 2 días
  </div>
</div>