// badges
//

.badge:first-child{
  margin-left: 2px;
}

.badge-online{
  color: white;
  background-color: #654ccd;
}
.badge-cidi{
  color: white;
  background-color: #4c9ccd;
}
.badge-turno{
  color: white;
  background-color: #4ccd6e;
}
.badge-gratuito{
  color: white;
  background-color: #cd774c;
}