//
//

.dataset{
  padding: 30px 0;
  margin-bottom: 50px;

  .sidebar{
    // background-color: orange;
  }

  .content{
    // background-color: red;

    .card{
      a{
        color: $gray-900;
        text-decoration: none;
        .card-body{

          .card-title{
            color: darken($green-gob, 10%);
          }

          &:hover{
            background-color: rgba($green-gob, 0.15);
            .card-title{
              color: darken($green-gob, 20%);
            }
          }
        }
      }
      &:hover{
        border-color: rgba($green-gob, 0.4);
      }
    }
  }

}
