//
// event

.event {
  .image{
    height: 450px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center center;
  }
  .content{
    
    h2{
      font-weight: 300;
    }
  }
  .info{
    padding: 24px 0px;
    h4{
      color: $branding;
    }
    p{
      margin: 0px;
    }
  }
  .frame{
    padding: 10px 16px;
    border: 1px solid $branding;
  }
  .tags{
    padding: 12px 0px;
    .btn{
      margin-right: 5px;
    }
  }
}

@media (max-width: 767px) {
  .event {
    .image{
      height: 220px;
    }
    .content{
      h2{
        font-weight: 300;
      }
    }
    .info{
      padding: 24px 0px;
      h4{
        color: $branding;
      }
    }
    .tags{
      margin-bottom: 50px;
    }
  }
}