.card{
  margin-bottom: 20px;
  .card-body{
    // background-color: $gray-300;
    .card-title{
      color: $green-gob;
    }
  }
  .list-group{
    .list-group-item{
      padding: 0px;
      a{
        padding: 10px 20px;
        text-decoration: none;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover{
          background: lighten($lightblue-gob, 16%);
        }
      }
    }
  }
}
