{% extends "layout.njk" %}

{% block content %}
  {% include "components/hero.njk" %}
  <div class="container home">
      <h1 class="display-4 text-center">proximos eventos</h1>
    <div class="row">
      {% for i in range(1,5) %}
      <div class="col-md-6 col-lg-4 col-xl-3">
        {% include('components/event-card.njk') %}
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}