{% extends "layout.njk" %}

{% block content %}
  {% include "components/hero.njk" %}
  <div class="container home">
      <h1 class="display-4">eventos recomendados</h1>
    <div class="row">
      {% for i in range(1,9) %}
        {% include('components/event-card.njk') %}
      {% endfor %}
    </div>
  </div>
{% endblock %}