<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
<div class="masterhead masterhead-home">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-8 masterhead-splash ">
        <h1>Lorem ipsum dolor sit amet</h1>
        <form class="masterhead-form">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-fw fa-lg fa-search"></i> </span>
            </div>
            <input type="text" class="form-control" placeholder="Que estás buscando?">
          </div>
        </form>
      </div>

      <div class="col-12 col-md-4 masterhead-data parent">
        <div class="count">1318</div>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

    </div>
  </div>
</div>

<section class="themes themes-home">
  <div class="container">

    <h4>Lorem ipsum dolor sit amet</h4>

  </div>
</section>
{% endblock %}

{% block js %}{% endblock %}
