<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<section class="tramite">
  <div class="container">

    <div class="my-4 pb-2 d-none d-sm-block">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Inicio</a></li>
          <li class="breadcrumb-item"><a href="lista.html">Trámites</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nombre del trámite</li>
        </ol>
      </nav>
    </div>

    <div class="row">

      <div class="col-12 col-md-8 mb-5 content">

        <!-- INI encabezado del trámite -->
        <div class="header">

          <!-- titulo del trámite -->
          <h1>Excepteur sint occaecat cupidatat non proident</h1>

          <!-- alertas y notificaciones: success, info, warning, danger -->
          <div class="alert alert-warning">
            <div class="alert-icon">
              <i class="fas fa-fw fa-3x fa-exclamation-circle"></i>
            </div>
            <div class="alert-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </div>

          <!-- actions: share or print -->
          <div class="actions">
            <div class="share">
              <a href="#">
                <i class="fab fa-fw fa-2x fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fab fa-fw fa-2x fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fas fa-fw fa-2x fa-envelope"></i>
              </a>
            </div>
            <div class="print">
              <a href="#">
                <i class="fas fa-fw fa-2x fa-print"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- INI encabezado del trámite -->

        <!-- INI contenido del trámite -->

        <!-- INI bloque de contenido simple-->
        <article class="">

          <!-- titulo del bloque fijo -->
          <h3 class="display-4">Título del bloque</h3>

          <!-- titulos del bloque dinámico -->
          <h1>heading 1</h1>
          <h2>heading 2</h2>
          <h3>heading 3</h3>
          <h4>heading 4</h4>
          <h5>heading 5</h5>
          <h6>heading 6</h6>

          <!-- párrrafos -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <!-- links -->
          <p><a href="#">link</a></p>

          <!-- listas -->
          <ul>
            <li><a href="#">item 1</a></li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
          </ul>

          <!-- listas numeradas -->
          <ol>
            <li><a href="#">item 1</a></li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
          </ol>

        </article>
        <!-- END bloque de contenido simple-->

        <!-- INI bloque de contenido destacado -->
        <article class="card">
          <div class="card-body">

            <!-- titulo del bloque fijo -->
            <h3 class="display-4">Título del bloque</h3>

            <!-- titulos del bloque dinámico -->
            <h1>heading 1</h1>
            <h2>heading 2</h2>
            <h3>heading 3</h3>
            <h4>heading 4</h4>
            <h5>heading 5</h5>
            <h6>heading 6</h6>

            <!-- párrrafos -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <!-- links -->
            <p><a href="#">link</a></p>

            <!-- listas -->
            <ul>
              <li><a href="#">item 1</a></li>
              <li>item 2</li>
              <li>item 3</li>
              <li>item 4</li>
            </ul>

            <!-- listas numeradas -->
            <ol>
              <li><a href="#">item 1</a></li>
              <li>item 2</li>
              <li>item 3</li>
              <li>item 4</li>
            </ol>

          </div>
        </article>
        <!-- END bloque de contenido destacado -->

        <!-- INI documentos simple-->
        <article>

          <!-- lista de documentos -->
          <ul class="list-group list-group-flush">

            <li class="list-group-item">
              <div class="list-text">
                Texto del documento
              </div>
              <div class="list-icon">
                <a href="#" class="btn btn-light">
                  <i class="fas fa-fw fa-download"></i>
                </a>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list-text">
                Texto del documento
              </div>
              <div class="list-icon">
                <a href="#" class="btn btn-light">
                  <i class="fas fa-fw fa-download"></i>
                </a>
              </div>
            </li>

          </ul>

        </article>
        <!-- END documentos simple-->

        <!-- INI documentos simple-->
        <article class="card">

          <!-- lista de documentos -->
          <ul class="list-group list-group-flush">

            <li class="list-group-item">
              <div class="list-text">
                Texto del documento
              </div>
              <div class="list-icon">
                <a href="#" class="btn btn-light">
                  <i class="fas fa-fw fa-download"></i>
                </a>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list-text">
                Texto del documento
              </div>
              <div class="list-icon">
                <a href="#" class="btn btn-light">
                  <i class="fas fa-fw fa-download"></i>
                </a>
              </div>
            </li>

          </ul>

        </article>
        <!-- END documentos simple-->

      </div>

      <div class="col-12 col-md-4 mb-5 sidebar">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Información del Conjunto de Datos</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            {% macro metadata(field='', value='') %}
            <div class="border-top border-secondary pt-1 pb-2">
              <small class="text-green-gob">{{ field }}</small>
              <p class="mb-0">{{ value }}</p>
            </div>
            {% endmacro %}

            {{ metadata(field='temas', value='Economía y Finanzar, Desarrollo Económico') }}
            {{ metadata(field='licencia', value='Open Data Commons Open Database License (ODbL) ') }}
            {{ metadata(field='frecuencia de actualización', value='Semestral') }}
            {{ metadata(field='fecha de publicación', value='05/05/2018') }}
            {{ metadata(field='fecha de actualización', value='05/05/2018') }}
            {{ metadata(field='autor', value='Sec. de Economía') }}
            {{ metadata(field='fuente del dato', value='GIS') }}
            {{ metadata(field='contacto', value='mail@mail.com') }}

          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Actualizaciones</h5>
            {% set i = 1 %}
            {% for i in range(1, 2) %}
            <div class="border-top border-secondary pt-1 pb-2">
              <small class="text-muted">05/05/2018</small>
              <p class="mb-0">Se actualizó el conjunto de datos hace <b> {{ i }} mes{% if i > 1 %}es{% endif %}</b> </p>
            </div>
            {% set i = i + 1 %}
            {% endfor %}
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Difundí el conjunto de datos</h5>
            <div class="border-top border-secondary pt-3 pb-2">
              <a href="#" class=""><i class="fab fa-fw fa-lg fa-facebook"></i></a>
              <a href="#" class=""><i class="fab fa-fw fa-lg fa-twitter"></i></a>
              <a href="#" class=""><i class="fab fa-fw fa-lg fa-instagram"></i></a>
              <a href="#" class=""><i class="fab fa-fw fa-lg fa-whatsapp"></i></a>
              <a href="#" class=""><i class="far fa-fw fa-lg fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}{% endblock %}
