<ul class="list-group list-group-flush">
  {% for i in range(1,5) %}
    <li class="list-group-item">
      <a href="tramite.html">
        <div>
          Titulo de trámite {{ i }}
          {% if i == 1 %}
            <span class="badge badge-online">online</span>
          {% endif %}                    
          {% if i == 2 %}
            <span class="badge badge-cidi">cidi</span>
            <span class="badge badge-gratuito">gratuito</span>
          {% endif %}                    
          {% if i == 3 %}
            <span class="badge badge-turno">turno</span>
          {% endif %} 
          {% if i == 4 %}
            <span class="badge badge-online">online</span>
            <span class="badge badge-cidi">cidi</span>
          {% endif %} 
        </div>
        <div class="fas fa-fw fa-lg fa-angle-right"></div>
      </a>
    </li>
  {% endfor %}
</ul>