<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex">

    <a class="navbar-brand" href="index.html" id="logo">
      <img src="images/tramites-logo.svg" alt="logo">
    </a>

    <ul class="navbar-nav p-0 m-0 ">
      <li class="nav-item">
        <a class="nav-link" href="lista.html">Lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tramite.html">Trámite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ui.html">UI</a>
      </li>
    </ul>

    <form class="d-sm-none p-0 m-0" action="" method="post" id="form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" id="button-addon2">
            <i class="fas fa-fw fa-lg fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <a href="#" class="btn btn-blue-gob text-white d-sm-none" id="buttonForm">
      <i class="fas fa-fw fa-search" id="iconSearch"></i>
      <i class="fas fa-fw fa-times"  id="iconTimes"></i>
    </a>

  </div>
</nav>
