<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container pl-2">

    <a class="navbar-brand" href="index.html" id="logo">
      <img src="images/tramites-logo.svg" alt="logo">
    </a>

   

  </div>
</nav>
