<div class="card">
  <div class="card-body pb-0">
    <h5 class="card-title">Temas</h5>
  </div>
  <ul class="list-group list-group-flush">
    {% for i in range(1,5) %}
      <li class="list-group-item">
        <a href="tramite.html">
          <div>
            Titulo de trámite {{ i }}
          </div>
          <div class="fas fa-fw fa-lg fa-angle-right"></div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>