<div class="card mb-3">
  <a href="./tramite.html">
    <div class="card-body">
      <h4 class="card-title mb-1">
        Excepteur sint occaecat cupidatat non proident - {{ item }}
      </h4>
      <div class="text-secondary mb-2">Area / Dependencia</div>
      <div>
        <span class="badge badge-online">online</span>
        <span class="badge badge-cidi">cidi</span>
        <span class="badge badge-turno">turno</span>
        <span class="badge badge-gratuito">gratuito</span>
      </div>
    </div>
  </a>
</div>